body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */

}

form {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    width: 300px;
    box-shadow: 0 2px 6px rgba(13, 8, 23, 0.2);
}

label {
    margin-bottom: 5px;
    text-transform: capitalize;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4438cf;
    color: #fff;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #3cab41;
}
